.pasport {
  display: flex;
  position: fixed;
  padding: 5px 10px;
  top: 100px;
  left: -20em;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px black;
  transition: all 0.5s;
  align-items: center;

  &:hover {
    left: 0;
  }
}

.pasport__button {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding: 5px 30px 10px 20px;
  border-radius: 3px;
}
