.slider {
    position: relative;
}

.slider__item {
    margin: 10px 5px;
    padding: 5px 10px;
    background: turquoise;
    box-shadow: 0 0 5px rgba(0, 0, 0, .9);
}

.slider__header {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 5px;
}

.slider__text {
    font-size: 1rem;
    text-align: justify;
}

.slider__dots {
    display: flex;
    justify-content: center;
    li {
        list-style: none;
        &.slick-active button {
            background-color: red;
            color: red;
        }
        button {
            color: white;
            background-color: white;
            border: 1px solid red;
            border-radius: 40px;
            width: 20px;
            height: 20px;
            margin: 5px;
        }
    }
}

.slider__arrows {
    text-align: center;
}