.range-form {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-form__custom-range {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 3px;
  background-color: gold;
  box-shadow: 0 0 5px gold;
  border-radius: 5px;
}

.range-form__marker {
  position: absolute;
  left: 20px;
  top: -12px;
  background: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px gold;
  border: 1px solid red;
}

.range-form__label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 400px;
}
.range-form__input {
  width: 300px;
  margin: 20px;
}
